<%- include ("../../partials/header") %>
<%- include ("../../partials/messageBox") %>

<link href="/assets/css/main.css" rel="stylesheet" type="text/css">
<link href="/assets/css/owner/inventory/index.css" rel="stylesheet" type="text/css">

<div class="items">
    <h2>Inventory</h2>
    <a href="/inventory/add">Add Item</a>

    <table style="width:100%">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Status</th>
    </tr>
    <% items.forEach(function (item, i) { %>
    <tr>
        <td> <%= item.id %> </td>
        <td> <%= item.name %> </td>
        <td> <%= item.price %> </td>
        <td> <%= item.isActive %> </td>
        <td> <a href="/inventory/view/<%= item.slug %>">View</a> </td>
        <td> <a href="/inventory/edit/<%= item.slug %>">Edit</a> </td>
    </tr>
    <% }) %>
    </table>
</div>
