<%- include ("../../partials/header") %>
<h1> View Item </h1>

<a href="/inventory/edit/<%= item.slug %>">Edit Item</a>
<table style="width:100%">
  <tr>
    <td> ID</td>
    <td> <%= item.id %> </td>
  </tr>
  <tr>
    <td> Name </td>
    <td> <%= item.name %> </td>
  </tr>
  <tr>
    <td> Description</td>
    <td> <%= item.description %> </td>
  </tr>
</table>