<%- include ("../../partials/header") %>
<%- include ("../../partials/messageBox") %>

<div>
    <b>INTERNAL SHOPS</b>
    <table>

        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Slug</th>
            <th>Category Id</th>
        </tr>
        <% shops.forEach(function (shop, i) { %>
        <tr>
            <td> <%= shop.id %> </td>
            <td> <%= shop.name %> </td>
            <td> <%= shop.slug %> </td>
            <td> <%= shop.categoryId %> </td>
        </tr>
        <% }) %>
    </table>
</div>

<a href="/internal/shops/new">Create Shop</a>
