<%- include ("../partials/header") %>

<div id="main-container">
    <div id="item-photo">
    </div>
    <table>
        <tr>
            <td>Name</td>
            <td><%= item.name %></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><%= item.description %></td>
        </tr>
        <tr>
            <td>Stock Left</td>
            <td><%= item.stock %></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><%= item.price %></td>
        </tr>
    </table>
</div>

<style>

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

#main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#item-photo {
    background-image: url("../../assets/images/jordan-720.jpg");
    background-size: cover;
    height: 350px;
    width: 500px;
}

</style>
