<div>
    <h1>SHOP PAGE</h1>

    <p> <%= shop.id %> </p>
    <p> <%= shop.name %> </p>

    <b>ITEMS</b>
    <% items.forEach(function (item, i) { %>
        <a href="/shops/<%= shop.slug %>/<%= item.slug %>">
            <div class="item">
                <p> <%= item.name %> </p>
            </div>
        </a>
    <% }) %>
</div>
